
  
  .signup-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
  }
  
  .signup-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
    margin-top: 10px;
  }
  
  input:focus {
    border-color: #3f9ef5;
    outline: none;
  }
  
  .signup-button {
    width: 100%;
    padding: 12px;
    background-color: #3f9ef5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .signup-button:hover {
    background-color: #287bc9;
  }
  
  .error-box{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(202, 34, 34,0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(236, 130, 130);
  }
  .signup-footer-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }